<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.1" targetFramework="net461" />
  <package id="cef.redist.x64" version="3.2987.1601" targetFramework="net461" />
  <package id="cef.redist.x86" version="3.2987.1601" targetFramework="net461" />
  <package id="CefSharp.Common" version="98.1.210" targetFramework="net461" />
  <package id="CefSharp.Wpf" version="57.0.0" targetFramework="net461" />
  <package id="Common.Logging" version="3.3.1" targetFramework="net461" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net461" />
  <package id="GDAX.Api.ClientLibrary" version="1.0.9" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="Quartz" version="2.6.1" targetFramework="net461" />
</packages>